.WorkoutDetailsContainer > div span {
  font-weight: 700;
}

.BackButton {
  display: inline-block;
  padding: 6px 20px;
  width: 100px;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  background-color: var(--main-color);
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.ButtonWrapper {
  display: flex;
  align-items: center;
}

.ButtonIcon {
  font-size: 1.2em;
}

.Message {
  margin-top: 50px;
  font-size: 1.2em;
  text-align: center;
}
