.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  z-index: 2;
}

.HeaderWrapper {
  margin: 0 auto;
  max-width: var(--wrapper-max-width);
}

.AppLogo {
  color: var(--main-color);
  width: 115px;
  height: 30px;
}
