* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--font-main);
}

:root {
  --main-color: #ff7f66;
  --main-background: #fcfcfc;
  --font-main: #333;
  --font-light: #707070;

  --wrapper-max-width: 1200px;
}
